.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: #262729;
    color: white;
}

.toggle_theme {
    margin-right: 5%;
    margin-left: 95%;
    background-color: yellow;
}

.navigation_buttons {
    width: 40%;
    margin: auto;
}

.centered {
    text-align: center;
}

.personal_info h1 {
    font-size: 2em;
}

.personal_info p {
    font-size: 1.5em;
}

.image_of_me img {
    width: 25%;
}