.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: #262729;
    color: white;
}

.header_buttons {
    width: 32%;
    line-height: 150%;
    margin: auto;
    
}

.four_boxes {
    width: 45%;
    display: inline-block;
}

.resume_title {
}

.header_buttons button {
    width: 23%;
    height: 90%;
    margin: 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

}

heading {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.float_right {
    float: right;
    padding-right: 5%;
}

.personal_info h1 {
    font-size: 2em;
    color: red;
}

.personal_info p {
    font-size: 1.5em;
}

.image_of_me img {
    width: 25%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* circle image from https://stackoverflow.com/questions/28700841/how-to-make-a-circular-image-in-css */